In [1]:
from datasets.Datasets import Datasets

In [2]:
jeopardy = Datasets("jeopardy")

2024-09-26 16:14:00 - INFO - [Datasets] Loading dataset: jeopardy
2024-09-26 16:14:00 - INFO - [Datasets] Dataset loaded successfully

In [3]:
jeopardy.get_dataframe()

,ep_num,air_date,extra_info,round_name,coord,category,value,daily_double,question,answer,correct_attempts,wrong_attempts
0,1,1984-09-10,Premiere episode with Alex Trebek as host.,Jeopardy,"(1, 1)",LAKES & RIVERS,"(100,)",False,River mentioned most often in the Bible,the Jordan,1.0,1.0
1,1,1984-09-10,Premiere episode with Alex Trebek as host.,Jeopardy,"(2, 1)",INVENTIONS,"(100,)",False,Marconi's wonderful wireless,the radio,0.0,3.0
2,1,1984-09-10,Premiere episode with Alex Trebek as host.,Jeopardy,"(3, 1)",ANIMALS,"(100,)",False,These rodents first got to America by stowing ...,rats,1.0,0.0
3,1,1984-09-10,Premiere episode with Alex Trebek as host.,Jeopardy,"(4, 1)",FOREIGN CUISINE,"(100,)",False,"The ""coq"" in coq au vin",chicken,1.0,0.0
4,1,1984-09-10,Premiere episode with Alex Trebek as host.,Jeopardy,"(5, 1)",ACTORS & ROLES,"(100,)",False,Video in which Michael Jackson plays a werewol...,"""Thriller""",1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
62513,7778,2018-06-06,NaN,Double Jeopardy,"(3, 5)",LITERARY OOPS!,"(2000,)",False,"At the end of ""Jurassic Park"", the island is a...",Costa Rica,0.0,3.0
62514,7778,2018-06-06,NaN,Double Jeopardy,"(4, 5)",PRIZE PACKAGES,"(2000,)",False,"$100,000 & a bronze medal inscribed with the f...",the Pritzker Prize,0.0,3.0
62515,7778,2018-06-06,NaN,Double Jeopardy,"(5, 5)",KING JAMES BIBLE COMMON WORDS,"(2000,)",False,Thou wilt not fail to know this olde synonym f...,shalt,1.0,1.0
62516,7778,2018-06-06,NaN,Double Jeopardy,"(6, 5)",COMICS RELIEF,"(2000,)",False,"T'Challa, AKA this superhero, was introduced i...",the Black Panther,1.0,0.0
62517,7778,2018-06-06,NaN,Final Jeopardy,"(1, 1)",GAMES,"(5700, 9199, 4801)",False,Names used in other languages for this chess p...,the queen,3.0,0.0

In [4]:
millionaire_data = Datasets(dataset="millionaire")

2024-09-26 16:14:00 - INFO - [Datasets] Loading dataset: millionaire
2024-09-26 16:14:00 - INFO - [Datasets] Dataset loaded successfully

In [5]:
millionaire_data.get_dataframe()

,question_info,question,options,correct_answer,price,normalized_options,normalized_correct_opt
0,$100 (1 of 15) - Not Timed,"If you like someone right away, it is said tha...","['â¬¥ A:Gloss', 'â¬¥ B:Shine', 'â¬¥ C:Glare', 'â¬¥ D:C...",â¬¥ B:Shine,100,"A: Gloss, B: Shine, C: Glare, D: Can of Reddi wip",B: Shine
1,$200 (2 of 15) - Not Timed,"A resident of a small town is said to be a ""lo...","['â¬¥ A:Yogurt', 'â¬¥ B:Yam', 'â¬¥ C:Yokel', 'â¬¥ D:Yo...",â¬¥ C:Yokel,200,"A: Yogurt, B: Yam, C: Yokel, D: Yoko Ono",C: Yokel
2,$300 (3 of 15) - Not Timed,A Brillo Pad is commonly used to do what?,"['â¬¥ A:Mop the floor', 'â¬¥ B:Clean pots and pans...",â¬¥ B:Clean pots and pans,300,"A: Mop the floor, B: Clean pots and pans, C: H...",B: Clean pots and pans
3,$500 (4 of 15) - Not Timed,"On a standard hopscotch surface, what is usual...","['â¬¥ A:Letter', 'â¬¥ B:Number', 'â¬¥ C:Star', 'â¬¥ D:...",â¬¥ B:Number,500,"A: Letter, B: Number, C: Star, D: Stick figure",B: Number
4,"$1,000 (5 of 15) - Not Timed",Which of these contractions is considered to b...,"[""â¬¥ A:Don't"", ""â¬¥ B:Ain't"", ""â¬¥ C:Won't"", ""â¬¥ D:C...",â¬¥ B:Ain't,1000,"A: Dont, B: Aint, C: Wont, D: Cant",B: Aint
...,...,...,...,...,...,...,...
22693,"$1,000",A survey by mattress company Ergoflex revealed...,"['â¬¥ A:Their hairstyle', 'â¬¥ B:Their underwear',...",â¬¥ C:Their bedsheets,1000,"A: Their hairstyle, B: Their underwear, C: The...",C: Their bedsheets
22694,(1),"While visiting a Dutch museum in 2013, Justin ...","['â¬¥ A:Eva Brown', 'â¬¥ B:Anne Frank', 'â¬¥ C:Elean...",â¬¥ B:Anne Frank,0,"A: Eva Brown, B: Anne Frank, C: Eleanor Roosev...",B: Anne Frank
22695,(2),"While at Harvard Law School, what future polit...","['â¬¥ A:Joe Biden', 'â¬¥ B:Bill Clinton', 'â¬¥ C:Bar...",â¬¥ C:Barack Obama,0,"A: Joe Biden, B: Bill Clinton, C: Barack Obama...",C: Barack Obama
22696,(3),"Filled with journalists, Hollywood luminaries ...","['â¬¥ A:#NerdProm', 'â¬¥ B:#BanquetForBores', 'â¬¥ C...",â¬¥ A:#NerdProm,0,"A: NerdProm, B: BanquetForBores, C: GalaForGee...",A: NerdProm
22697,"$1,000,000 (4)","Targeting viewers 18-34 years old, in what yea...","['â¬¥ A:2016', 'â¬¥ B:2020', 'â¬¥ C:2024', 'â¬¥ D:2028']",â¬¥ A:2016,1000000,"A: 2016, B: 2020, C: 2024, D: 2028",A: 2016